.p-calc
	padding: 50px
	.p-form__select
		-webkit-appearance: menulist
		-webkit-rtl-ordering: logical
		color: #272727
		cursor: default
		border-width: 1px
		border-style: solid
		border-color: #ccc
		border-image: initial
		height: 50px
		&:nth-child(n+2)
			margin-left: 20px
	&__input
		display: flex
		align-items: center
	&__result
		display: block
		margin-top: 10px
		p
			font-size: 4rem
			color: #272727
			font-weight: bold
	&__submit
		
		margin-left: 20px