.p-form
	width: 670px
	margin: 0 auto
	padding-top: 50px
	&:nth-of-type(n+2)
		border-top: 2px solid #d2d2d2
		margin-top: 50px
	&__box
		display: flex
		&:nth-child(n+2)
			margin-top: 20px
	&__ttl
		display: flex
		min-width: 17rem
		&__body
			font-size: 1.4rem
			font-weight: bold
			display: flex
			align-items: center
			flex 1
			&.u-textarea
				align-items: flex-start
				padding-top: 15px
			&.u-checkbox
				align-items: flex-start
			&__text
				flex 1
			&__required
				height: 20px
				border-radius: 3px
				padding: 0 6px
				border: solid 1px #d00e31
				color: #d00e31
				background-color: #fff
				display: flex
				align-items: center
				justify-content: center
				font-size: 1.2rem
				font-weight: bold
				margin-left: 10px
				line-height: 1
	&__data
		flex 1
		padding-left: 20px
	&__input
		height: 50px
		width: 100%
		display: flex
		border-radius: 6px
		border: solid 1px #d2d2d2
		background-color: #fff
		align-items: center
		padding: 15px
		font-size: 1.4rem
		color: #272727
	&__textarea
		@extend .p-form__input
		min-height: 300px
	&__submit
		background-color: #eee
		border-bottom: 3px solid #ccc
		color: #777
		border-radius: 6px
		height: 50px
		display: flex
		align-items: center
		justify-content: center
		font-size: 1.4rem
		padding: 0 25px
		font-weight: bold
		transition all .2s ease-out
		margin-top: 10px
		&.is-active
			background: #4abfdb
			border-bottom: 3px solid #388fa3
			color: #fff
			hover()
		&__wrap
			margin-top: 15px
			padding-left: 140px
			display: flex
			justify-content: center
	&__error
		padding-left: 190px
		&__body
			font-size: 1.4rem
			color: #d00e31
			font-weight: bold
	&__complete
		width: 100vw
		height: 100vh
		justify-content: center
		align-items: center
		display: flex
		&__body
			font-size: 5rem
			font-weight: bold
			color: #272727
			display: flex
		&__icon
			margin-left: 10px
	&__check
		&__wrap
			display: flex
			align-items: center
			cursor: pointer
			&:nth-child(n+2)
				margin-top: 1rem
		&__body
			font-size: 1.4rem
			color: #272727
		&__input
			margin-left: 10px
