.p-stopwatch
	border: 1px solid #ccc
	padding: 20px
	&:nth-child(n+2)
		margin-top: 30px
	&__num
		font-size: 10rem
		font-weight: bold
		text-align: center
	&__nav
		display: flex
		&__item
			list-style none
			width: 50%
			text-align: center
		&__btn
			font-size: 2rem
			border: 1px solid #ccc
			padding: 10px