@font-face {
  font-family: "icon";
  src: url('../font/icon.eot?1533990316362');
  src: url('../font/icon.eot??#iefix?1533990316362') format('eot'),
  url('../font/icon.woff?1533990316362') format('woff'),
  url('../font/icon.ttf?1533990316362') format('truetype'),
  url('../font/icon.svg#icon?1533990316362') format('svg');
  font-weight: normal;
  font-style: normal;
}

.c-icon--arrow:before,
.c-icon--dc:before,
.c-icon--denki:before,
.c-icon--ict:before,
.c-icon--isp:before,
.c-icon--net:before,
.c-icon--option:before,
.c-icon--other:before,
.c-icon--pdf:before,
.c-icon--phone-iot:before,
.c-icon--phone:before,
.c-icon--rental:before,
.c-icon--support:before,
.c-icon--arrow--after:after,
.c-icon--dc--after:after,
.c-icon--denki--after:after,
.c-icon--ict--after:after,
.c-icon--isp--after:after,
.c-icon--net--after:after,
.c-icon--option--after:after,
.c-icon--other--after:after,
.c-icon--pdf--after:after,
.c-icon--phone-iot--after:after,
.c-icon--phone--after:after,
.c-icon--rental--after:after,
.c-icon--support--after:after {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}

.c-icon--arrow:before { content: "\EA01"; }
.c-icon--dc:before { content: "\EA02"; }
.c-icon--denki:before { content: "\EA03"; }
.c-icon--ict:before { content: "\EA04"; }
.c-icon--isp:before { content: "\EA05"; }
.c-icon--net:before { content: "\EA06"; }
.c-icon--option:before { content: "\EA07"; }
.c-icon--other:before { content: "\EA08"; }
.c-icon--pdf:before { content: "\EA09"; }
.c-icon--phone-iot:before { content: "\EA0A"; }
.c-icon--phone:before { content: "\EA0B"; }
.c-icon--rental:before { content: "\EA0C"; }
.c-icon--support:before { content: "\EA0D"; }


.c-icon--arrow--after:after { content: "\EA01"; }
.c-icon--dc--after:after { content: "\EA02"; }
.c-icon--denki--after:after { content: "\EA03"; }
.c-icon--ict--after:after { content: "\EA04"; }
.c-icon--isp--after:after { content: "\EA05"; }
.c-icon--net--after:after { content: "\EA06"; }
.c-icon--option--after:after { content: "\EA07"; }
.c-icon--other--after:after { content: "\EA08"; }
.c-icon--pdf--after:after { content: "\EA09"; }
.c-icon--phone-iot--after:after { content: "\EA0A"; }
.c-icon--phone--after:after { content: "\EA0B"; }
.c-icon--rental--after:after { content: "\EA0C"; }
.c-icon--support--after:after { content: "\EA0D"; }
