-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/_meta
		include include/_ogp
		include include/_title
		include include/_css
	body
		.container
			.page-header
				h1 オブジェクト指向
			.row
				.col
					label(for='') アカウントを作成
				.col
					input(type='text', placeholder='4文字以上8文字以内で入力してください', data-minlength='4', data-maxlength='8', required='')
					ul
						li(data-error='required') 必須項目です
						li(data-error='minlength') 4文字以上で入力してください
						li(data-error='maxlength') 8文字以内で入力してください
			.row
				.col
					label(for='') パスワードを作成
				.col
					input(type='text', placeholder='4文字以上8文字以内で入力してください', data-minlength='4', data-maxlength='8', required='')
					ul
						li(data-error='required') 必須項目です
						li(data-error='minlength') 4文字以上で入力してください
						li(data-error='maxlength') 8文字以内で入力してください
		include include/_js
